name: Monorepo Split

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  split_packages:
    name: Split Packages
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Monorepo Split
        uses: symplify/monorepo-split-github-action@v2.4.0
        with:
          # GitHub token with repo permissions
          github_token: ${{ secrets.GITHUB_TOKEN }}
          # Directory to start from (root)
          package_directory: 'packages/kusikusicms'
          # mapping: "local_directory::remote_repository"
          directories_to_repositories: |
            models::git@github.com:kusikusicms/models.git
            # website::git@github.com:kusikusicms/website.git
            # media::git@github.com:kusikusicms/media.git
            # admin::git@github.com:kusikusicms/admin.git
          # tags will be split too
          tag: true
          user_email: 'ramses@cuatromedios.com'
          user_name: 'Ramses Moreno'
          repository_organization: 'KusikusiCMS'
          repository_name: 'KusikusiCMS'
